
<div>
    @RenderBody()
    @RenderSection("scripts", required: false)

    <hr />



</div>
@Html.Partial("_LoginPartial")
<div>

</div>

@section scripts {
    <script>
        // Puedes agregar scripts aquí o dejarlo vacío
    </script>
}
